<h3> View Book Details</h3>
<div>
    <div>
        <label> <b> Book ISBN: </b></label> {{particularBook.bookISBN}}
    </div>
    <div>
        <label> <b> Book Name: </b></label> {{particularBook.bookName}}
    </div>
    <div>
        <label> <b> Book Author: </b></label> {{particularBook.author}}

    </div>
    <div>
        <label> <b> Book Cost: </b></label> {{particularBook.bookCost}}
    </div>
    <div>
    <label> <b> Number Of Pages: </b></label> {{particularBook.noOfpages}}
    </div>

    <div>
        <label> <b> Rating Of Book </b></label> {{particularBook.ratingOfBook}}
        </div>

    <div>
        <label> <b> isPublished </b></label> {{particularBook.isPublished}}
        </div>
</div>
